#testimonials.content-block
  %header.block-heading.cleafix.text-center
    %h1 What Clients Say
  .block-content.text-center
    .container
      .row
        .col-md-6.col-md-offset-3
          .owl-carousel
            .owl-item
              .testimonial
                = image_tag "testimonial_31-190x190.jpg", alt: "Client Photo"
                %p In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet.
                %strong Jhon Doe
                %br/
                %span Head of Ideas, Technext
            .owl-item
              .testimonial
                = image_tag "testimonial_11-190x190.jpg", alt: "Client Photo"
                %p In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet.
                %strong Jane Doe
                %br/
                %span CEO, Apple Inc
            .owl-item
              .testimonial
                = image_tag "testimonial_22-190x190.jpg", alt: "Client Photo"
                %p In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet.
                %strong Albert Doe
                %br/
                %span Team Lead, Design Studio