.col-md-6.wow.animated.fadeInLeft
  =form_tag(send_email_personal_index_path, method: :post, class: "contact-form") do
    %input{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
    %input{:name => "email", :placeholder => "Email", :required => "", :type => "email"}/
    %textarea{:name => "message", :placeholder => "Say Something...", :required => "", :rows => "5"}
    %input{:type => "submit", :value => "Submit"}/