#services.content-block.text-center
  .overlay-2
    %header.block-heading.cleafix
      %h1 More About Me
      %p Lorem Ipsum Text
    .block-content
      .container
        .row
          .col-md-12
            .row
              .col-sm-4
                %h4.pro-stat Completed Project
                %h2.proj-name.count1.count-timer 020
              .col-sm-4
                %h4.pro-stat Working Project
                %h2.proj-name.count2 9
              .col-sm-4
                %h4.pro-stat Top Rated Project
                %h2.proj-name.count3 015