#services.content-block.clearfix
  #numbers.parallax
    .overlay
      .container-fluid.numbers-title
        .container
          .row.block-heading
            %h1 Some Cool Facts About Me
      .container-fluid
        %ul.numbersList
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Completed Project
            %span#number1.count1.count-timer 20
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Working Project
            %span#number2.count2 003
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Hours of Work per day
            %span#number3.count3 08
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Repositories in Git
            %span#number4.count4 11
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Mobile APP
            %span#number5.count5 001
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Happy Client
            %span#number6.count6 4